body {
	background-color: #FAF8EF;
	color: #776E65;
	font-size: 1rem;
	font-family: Arial, Sans;
	text-align: center;
}

a, a:hover, a:active, a:link, a:visited{
	color:#776E65;
}

.app{
	width:524px;
	margin:0 auto;
	position:relative;
}

.game {
	margin: 0 auto;
	width: 524px;
}

.game .row {
	overflow: hidden;
}

.grid{
	border-radius: 5px;
	width:524px;
	height:524px;
	margin:0 auto;
	background-color:#BBADA0;
}
	.grid .cell{
		width: 100px;
		height: 100px;
		background-color: #CDC0B4;
		margin: 10px;
		border-radius: 3px;
		float:left;
		border:3px solid #CDC0B4;
		z-index:0;
	}
	.grid .row:first-child .cell{
		margin-top:20px;
	}
	.grid .row:last-child .cell{
		margin-bottom:20px;
	}
	.grid .row .cell:first-child{
		margin-left:20px;
	}
	.grid .row .cell:last-child{
		margin-right:20px;
	}
.pad{
	position:absolute;
	top:0;
	left:0;
	z-index:10;
}
.game .tile {
	width: 100px;
	height: 100px;
	background-color: #EEE4DA;
	margin: 10px;
	border-radius: 3px;
	border:3px solid #EEE4DA;
	position:absolute;
	
}
	.tile.empty{
		z-index:10;
		display:none;
	}
		.tile.non-empty{
			transition:transform 1000ms ease-in-out 0s;
			z-index:20;
		}
		.tile[data-xy="0-0"]{
			transform:translate(10px,10px);
		}
		
		.tile[data-xy="0-1"]{
			transform:translate(135px,10px);
		}
		
		.tile[data-xy="0-2"]{
			transform:translate(262px,10px);
		}
		
		.tile[data-xy="0-3"]{
			transform:translate(387px,10px);
		}
		
		.tile[data-xy="1-0"]{
			transform:translate(10px,135px);
		}
		
		.tile[data-xy="1-1"]{
			transform:translate(135px,135px);
		}
		
		.tile[data-xy="1-2"]{
			transform:translate(262px,135px);
		}
		
		.tile[data-xy="1-3"]{
			transform:translate(387px,135px);
		}
		
		.tile[data-xy="2-0"]{
			transform:translate(10px,262px);
		}
		
		.tile[data-xy="2-1"]{
			transform:translate(135px,262px);
		}
		
		.tile[data-xy="2-2"]{
			transform:translate(262px,262px);
		}
		
		.tile[data-xy="2-3"]{
			transform:translate(387px,262px);
		}
		
		.tile[data-xy="3-0"]{
			transform:translate(10px,387px);
		}
		
		.tile[data-xy="3-1"]{
			transform:translate(135px,387px);
		}
		
		.tile[data-xy="3-2"]{
			transform:translate(262px,387px);
		}
		
		.tile[data-xy="3-3"]{
			transform:translate(387px,387px);
		}
		

	.tile.can-merge{
		box-shadow:0 0 10px #aaa;
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(238,228,218,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,228,218,1))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(238,228,218,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(238,228,218,1) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(238,228,218,1) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(238,228,218,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eee4da',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		
	}
	.tile.moving{
		border-color:#EEE4DA!important;
	}
	.tile[data-edge-t="1"]{
		border-top-color:#1DD2AF;
	}
	.tile[data-edge-b="1"]{
		border-bottom-color:#1DD2AF;
	}
	.tile[data-edge-l="1"]{
		border-left-color:#1DD2AF;
	}
	.tile[data-edge-r="1"]{
		border-right-color:#1DD2AF;
	}
	
	/*
	.tile[data-value="2"][data-edge-t="1"]{
		border-top-color:#1DD2AF;
	}
	.tile[data-value="2"][data-edge-b="1"]{
		border-bottom-color:#1DD2AF;
	}
	.tile[data-value="2"][data-edge-l="1"]{
		border-left-color:#1DD2AF;
	}
	.tile[data-value="2"][data-edge-r="1"]{
		border-right-color:#1DD2AF;
	}
	
	.tile[data-value="4"][data-edge-t="1"]{
		border-top-color:#19B698;
	}
	.tile[data-value="4"][data-edge-b="1"]{
		border-bottom-color:#19B698;
	}
	.tile[data-value="4"][data-edge-l="1"]{
		border-left-color:#19B698;
	}
	.tile[data-value="4"][data-edge-r="1"]{
		border-right-color:#19B698;
	}
	
	.tile[data-value="8"][data-edge-t="1"]{
		border-top-color:#F1C40F;
	}
	.tile[data-value="8"][data-edge-b="1"]{
		border-bottom-color:#F1C40F;
	}
	.tile[data-value="8"][data-edge-l="1"]{
		border-left-color:#F1C40F;
	}
	.tile[data-value="8"][data-edge-r="1"]{
		border-right-color:#F1C40F;
	}
	
	.tile[data-value="16"][data-edge-t="1"]{
		border-top-color:#F4A62A;
	}
	.tile[data-value="16"][data-edge-b="1"]{
		border-bottom-color:#F4A62A;
	}
	.tile[data-value="16"][data-edge-l="1"]{
		border-left-color:#F4A62A;
	}
	.tile[data-value="16"][data-edge-r="1"]{
		border-right-color:#F4A62A;
	}
	
	.tile[data-value="32"][data-edge-t="1"]{
		border-top-color:#2ECC71;
	}
	.tile[data-value="32"][data-edge-b="1"]{
		border-bottom-color:#2ECC71;
	}
	.tile[data-value="32"][data-edge-l="1"]{
		border-left-color:#2ECC71;
	}
	.tile[data-value="32"][data-edge-r="1"]{
		border-right-color:#2ECC71;
	}
	
	.tile[data-value="64"][data-edge-t="1"]{
		border-top-color:#27AE60;
	}
	.tile[data-value="64"][data-edge-b="1"]{
		border-bottom-color:#27AE60;
	}
	.tile[data-value="64"][data-edge-l="1"]{
		border-left-color:#27AE60;
	}
	.tile[data-value="64"][data-edge-r="1"]{
		border-right-color:#27AE60;
	}
	
	.tile[data-value="128"][data-edge-t="1"]{
		border-top-color:#E88834;
	}
	.tile[data-value="128"][data-edge-b="1"]{
		border-bottom-color:#E88834;
	}
	.tile[data-value="128"][data-edge-l="1"]{
		border-left-color:#E88834;
	}
	.tile[data-value="128"][data-edge-r="1"]{
		border-right-color:#E88834;
	}
	
	.tile[data-value="256"][data-edge-t="1"]{
		border-top-color:#EC5E00;
	}
	.tile[data-value="256"][data-edge-b="1"]{
		border-bottom-color:#EC5E00;
	}
	.tile[data-value="256"][data-edge-l="1"]{
		border-left-color:#EC5E00;
	}
	.tile[data-value="256"][data-edge-r="1"]{
		border-right-color:#EC5E00;
	}
	
	.tile[data-value="512"][data-edge-t="1"]{
		border-top-color:#3498DB;
	}
	.tile[data-value="512"][data-edge-b="1"]{
		border-bottom-color:#3498DB;
	}
	.tile[data-value="512"][data-edge-l="1"]{
		border-left-color:#3498DB;
	}
	.tile[data-value="512"][data-edge-r="1"]{
		border-right-color:#3498DB;
	}
	
	.tile[data-value="1024"][data-edge-t="1"]{
		border-top-color:#2980B9;
	}
	.tile[data-value="1024"][data-edge-b="1"]{
		border-bottom-color:#2980B9;
	}
	.tile[data-value="1024"][data-edge-l="1"]{
		border-left-color:#2980B9;
	}
	.tile[data-value="1024"][data-edge-r="1"]{
		border-right-color:#2980B9;
	}
	
	.tile[data-value="2048"][data-edge-t="1"]{
		border-top-color:#E74C3C;
	}
	.tile[data-value="2048"][data-edge-b="1"]{
		border-bottom-color:#E74C3C;
	}
	.tile[data-value="2048"][data-edge-l="1"]{
		border-left-color:#E74C3C;
	}
	.tile[data-value="2048"][data-edge-r="1"]{
		border-right-color:#E74C3C;
	}
	*/

.tile.empty{
	background-color:#CDC0B4;
	border-color:#CDC0B4;
}
.tile.empty .wrap {
	display: none;
}

.game .wrap {
	width: 100%;
	height: 100%;
	position: relative;
}

.game label {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
}

.game label.xl {
	font-size: 2.8rem;
}

.game label.l {
	font-size: 2.5rem;
}

.game label.m {
	font-size: 2.3rem;
}

.game label.s {
	font-size: 1.7rem;
}

.game .symbols {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: .81rem;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.game .symbols li {
	display: inline-block;
}

/* Animate.css */
.animated {
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated.slowly {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.grow {
  -webkit-animation-name: grow;
  animation-name: grow;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }
  
  50% {
  	-webkit-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
  }
  
   50% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

header{
	margin:0 auto;
	width:524px;
	overflow:hidden;
	margin-top:50px;
}
	header .site-info, header .control-panel{
		float:left;
	}
	header .site-info{
		text-align:left;
		width:70%;
	}
		.site-info h1{
			font-size:3rem;
			margin:0;
			padding:0;
		}
		.site-info h2{
			font-size:1.7rem;
			margin:0;
			padding:0;
		}
	header .control-panel{
		width:30%;
	}
.content{
	width:524px;
	margin:30px auto 0 auto;
	text-align: left;
}
	.content p{
		font-size:1rem;
		line-height:2rem;
		margin:30px 0;
	}
	.content .how-to{
		border-bottom:1px solid #D8D4D0;
	}

	